.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#1B4235;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.topnav {
  position: fixed;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  height: 94px; /* Change this to the desired height of your navbar */
  background-color: #fff; /* Change this to the desired background color of your navbar */
  z-index: 999;
  position: fixed;
  display: flex;
  height: 70px;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-right {
  height: 10%;
  width: 20px;
}

.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  top: 76px;
  left: 0;
  background-color:#1B4235;
  overflow-x: hidden;
  padding-top: 20px;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;

}

.sidenav a {
  align-items: center;  
  font-weight: initial;
  font-family: "pt-sans-regular", sans-serif;
  font-size: 0.875rem;
  line-height: 1.8;
  justify-content: flex-start;
    white-space: nowrap;
    height: 35px;
    padding: 15px 0 15px 0;
    color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  margin-left: 11px;
  margin-right: 34px;
  color: #f2f2f2;
  margin-bottom: 35px;
  display: flex;
}

.sidenav a:hover {
  color: #fff;
  background-color: #142f26;
  height: 35px;
}

.main {
  display: flex;
}

.content {
  padding: 20px;
  flex: 1;
}


.blur-background {
  position: relative;
}
.card {
  background-color: rgb(130, 202, 157);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 5px;
}
.min{
  margin-top: 83px;
  /* justify-content: flex-start; */
  margin-left: 241px;
  height: 100%;
}



.content {
  /* Your content styles */
  position: relative;
  z-index: 1;
}
.tainmodel{
  text-align: center;
  color:#1D4537;
  font-weight: 700;
  font-size: 30px;
}
.text{
 
  color:#1D4537;
  font-weight: 500;
  font-size: 40px;
}
.tainmodel9{
  text-align: center;
  color:#1D4537;
  font-weight:500;
  font-size: 18px;
}
.tainmodel91{
  margin: 6px;
  color:#1D4537;
  font-weight:500;
  font-size: 18px;
}
.form-image {
  display: flex;
  justify-content: center;
  width: 102%
}
.form-inputs {
  display: block;
  margin-bottom: 10px;
}
.form-container {
  
  display: flex;
  align-items: center;
}
.form {
  flex: 2;
  padding: 16px;
}
.form-image img {
  height:19vh;
  width: 332px;}
.tainmodel2{
  text-align: center;
  color:white;
  font-weight: 700;
  font-size: 40px;
 

}
.button {
  background-color: #1B4235;
  border-radius: 6px;
  color: white;
  text-align: center;
  padding: 8px 2px;
  cursor: pointer;
  margin-left: 87%;
  margin-top: 2%;
}
.button1{
  background-color: #1B4235;
  border-radius: 6px;
  color: white;
  text-align: center;
  padding: 8px 2px;
}

.landing-img{
  margin-top: 75px;
  width: 123%;
  height: 638px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.striped-table {
  border-collapse: collapse;
  width: 100%;
}

.striped-table th,
.striped-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #679385;
}

.striped-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}
.striped-table tbody tr:nth-child(1) {
  background-color: #1B4235;
  color: white;
}
.tablehead{
  background-color: #1B4235;
  color: white;
  text-align: center;
  margin-bottom: -20px;
    margin-left: 31px;
    margin-right: 47px;
}

.striped-table th {
  background-color: #1B4235;
  color: white;
}
.background-image {
   background-image: url('ba.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.land-image {
  background-image: url('./images/landing.jpg');
 background-size: cover;
 background-position: center;
 min-height: 100vh;
}

.con{
  margin-left: 280px;
  margin-top: 56px;
  padding: 10px;
}
.land-jpg{
  width: 1535px;
    height: 638px;
}
.img-div{
 
  /* font-family: "FrutigerNeueLTW02-CnBoo 775064","Arial Narrow",Arial,sans-serif; */
  font-size: 14px;
  width: 46%;
    height: 320px;
    margin-top: -569px;
    margin-left: 189px;
}
.card-container {
  margin-top: 30px;
  height: 221px;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.chart-col {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
  padding: 0;
}

.responsive-heading {
  font-size: 1.5rem; /* Adjust this value as needed */
}

/* For responsive user icon */
.user-icon {
  font-size: 28px;
  color: black;
}

@media (max-width: 576px) {
  /* Adjust the size for small screens */
  .user-icon {
    font-size: 20px;
  }
}

/* For positioning the dropdown menu */
.dropdown-menu {
  position: absolute;
}

.logo-container {
  position: relative;
  overflow: hidden;
}

.sliding-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: float 5s ease-in-out infinite;

}

@keyframes float {
  0% {
    transform: translateY(0);
  }
 
  100% {
    transform: translateY(-68px);
  }
}
.brown-hover:hover {
  color:#E2AE90;
}
.brown-hover{
  font-size : 1.0rem !important
}



















/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer{
  position: absolute;
  width: 250px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background:#1D4537;
  color: #000;
  text-align: center;

}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background-color:#002C1C;
  color: #ffffff;
  text-align: center;
  transform: rotateY(180deg);
}
.thefront h1{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.theback h1{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 50px;
  font-size: 50px;
  text-align: center;

}

.thefront p, .theback p{
  font-family: 'zilla slab', sans-serif;
  color: #ffffff;
  padding: 30px;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
}